{% autoescape off %}
<div style="width: 700px; margin: 0 auto;border: 1px solid #d0cccc; padding-bottom: 10px; font-family: Arial,Helvetica,sans-serif;">

  <div style="text-align: center;">
   <h1 style="color:#f3a326;padding:15px 10px 20px;font-size: 28px;">OTP</h1>
   <h3 style="font-weight: normal;">Hi, <b>{% if user.name %}{{ user.name }}{% endif %}</b> Welcome</h3>
   <h3 style="font-weight: normal;margin-bottom: 0;margin-top: 22px;">OTP for Registration is <b style="color: #f3a326;">{{ otp }}</b></h3>
   <p style="margin-top: 7px;color: #7b7b7b;font-size: 16px;">Do not share the OTP with anyone.</p>

   <br><br><br>

   <p style="padding-top: 40px;font-size: 14px;">Regards,</p>
   
  </div>
 </div> 
{% endautoescape %}