{% autoescape off %}

<div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);border: 1px gray solid;">

  <div style="text-align: center;">
      <h1 style="color: #f3a326; font-size: 28px;">Welcome to Our Platform!</h1>
      <p style="font-size: 16px;">Dear{% if user.name %} <b>{{ user.name }}</b> {% endif %} <b> Customer </b>,</p>
      <div style="background-color: #f3a326; color: white; padding: 10px; border-radius: 5px; margin: 10px 0; border: 1px rgb(231, 231, 231) solid;">
          <h2 style="font-size: 22px; margin: 0;">Your OTP for Registration</h2>
          <p style="font-size: 18px; margin: 0;">{{ otp }}</p>
      </div><br>
      <p style="font-size: 16px; color: #7b7b7b;">Please do not share this OTP with anyone.</p>

      <p style="margin-top: 40px;font-size: 14px;">If you didn't request this OTP, please ignore this message.</p>

      <p style="margin-top: 10px; font-size: 14px;">Best regards</p>
  </div>



</div>
{% endautoescape %}